<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Youtube Search Results</title>
</head>

<body>
  <h1>Results:</h1>
  <a href="/">Back to home</a>
  <form action="/music?q={{ spotify }}" method="POST">
      <input name ="description_search" placeholder="search..." type = "text" value ="">
      <input name ="search_button" type="submit" value="search">
    </form>
    <a href="index.html"></a>
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
    {% if data is defined %}
        <a href="">Show all results</a>
        <ol>
            {% for item in data %}
           	 <li class="youtube-video">{{item['snippet']['title']}}
 
           	 <br /><span></span>{{item['snippet']['description'] | safe}}</span>
             <br /><iframe width="560" height="315" src="https://www.youtube.com/embed/{{item['id']['videoId']}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           	 <br /><a href="https://www.youtube.com/watch?v={{item['id']['videoId']}}">Link</a>
             <br /></li>
            {% endfor %}
    {% else %}
            <p>No search results</p>
            {% endif %}
        </ol>
</body>
</html>