<html>
	<head>
		<title>Home Page</title>
	</head>

	<body data-new-gr-c-s-check-loaded="14.1000.0" data-gr-ext-installed="">
		<h1>Youtube Search Engine</h1>
		<h3>Search Youtube Descriptions:</h3>
		<form action="/query?q={{ q }}" method="GET">
			<input name ="q" placeholder="search..." type = "text" value ="">
			<input name ="search_button" type="submit">
		</form>
		<h3>Search for Music</h3>
		<form action="/music?q={{ q }}" method="GET">
			<input name ="q" placeholder="search..." type = "text" value ="">
			<input name ="search_button" type="submit">
		</form>
	</body>
</html>
